/* CSS file for CancerRelay */
* {
    box-sizing: border-box;
}

img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
span.textSpan {
  font-size: 72px;
}
div.focus {
  /*border: solid 1px;*/
  color: yellow;
  background-color: black;
}

#teamTotalDiv {
  /*padding: 5px;*/
  text-align: center;
  /*background-color: cyan;*/
}
#teamTotalCount {
  font-size: 128px;
  font-weight: bolder;
}

#townTotalDiv {
  /*padding: 5px;*/
  text-align: center;
  /*background-color: coral;*/
}
#townTotalCount {
  font-size: 128px;
  font-weight: bolder;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

#totalMileageDiv {
  /*float: bottom;
  display: block;*/
  text-align: center;
  /*margin-top: 100px;*/
  /*background-color: yellow;*/
}
#totalCount {
  font-size: 512px;
  font-weight: bolder;
}
