/* CSS file for CancerRelay */
* {
    box-sizing: border-box;
}

img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
span.textSpan {
  font-size: 36px;
}
span.genderTextSpan {
  font-size: 36px;
}
div.focus {
  color: yellow;
  background-color: black;
}

#teamTotalDiv {
  text-align: center;
}
#teamTotalCount {
  font-size: 128px;
  font-weight: bolder;
}

#townTotalDiv {
  text-align: center;
}
#townTotalCount {
  font-size: 128px;
  font-weight: bolder;
}

#teamMenDiv {
  text-align: center;
}
#teamMenTotal {
  font-size: 128px;
  font-weight: bolder;
}
#teamWomenDiv {
  text-align: center;
}
#teamWomenTotal {
  font-size: 128px;
  font-weight: bolder;
}
#townMenDiv {
  text-align: center;
}
#townMenTotal {
  font-size: 128px;
  font-weight: bolder;
}
#townWomenDiv {
  text-align: center;
}
#townWomenTotal {
  font-size: 128px;
  font-weight: bolder;
}


.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.genderColumn {
  float: left;
  width: 50%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

#totalMileageDiv {
  text-align: center;
}

#totalCount {
  font-size: 192px;
  font-weight: bolder;
}
